body{
    background-color: beige;
}
#btn1{
    margin-left: 600px;
    border: 0ch;
}
#btn2{
    margin-left: 15px;
    border: 0ch;
}
.ok{
border-color: darkgreen;
color: black;
}
.not-ok{
border-color: red;
color: red;
}

